*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_gaussian_rasterization.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
test
data
nohup.out
temp
submodules/simple-knn
submodules/diff_gaussian_rasterization/diff_gaussian_rasterization.egg-info
submodules/diff_gaussian_rasterization/build
submodules/diff_gaussian_rasterization/dist
submodules/omnidata/pretrained_models

